body {
  height: 95vh;
  top: 0;
  left: 0;
  touch-action: manipulation;
  overflow-x: hidden;
}

* {
  touch-action: manipulation;
}

#centerac {
  margin: 0 auto;
  width: 100vw;
  text-align: center;
  position: absolute;
  left: 0;
}

#time {
  font-size: calc(700% + 8vw);
  position: relative;
  top: 48vh;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  height: 0;
  transition: 0s;
}

#onlytime {
  background-color: white;
  z-index: 4;
  transition: opacity .8s;
}

#insptime {
  font-size: calc(700% + 8vmax);
  text-align: center;
  position: relative;
  top: 48vh;
  font-family: 'Times New Roman', Times, serif;
  z-index: 4;
  margin: 0;
}

#timealert {
  float: right;
  font-size: calc(14px + 6vmax);
  position: absolute;
  right: 8vw;
  bottom: 18vh;
  color: red;
  z-index: 4;
  display: none;
}

#scramblediv {
  text-align: center;
  width: 52vw;
  margin: auto;
  font-size: calc(16px + .7vmax);
  font-family: monospace;
  justify-content: center;
  display: table;
  vertical-align: bottom;
}

#scrambletxt {
  position: absolute;
  text-align: bottom;
  top: 6vh;
  display: table-cell;
  vertical-align: bottom;
  z-index: 3;
  transition: all 1s;
  margin-right: 10px;
  width: 70vw;
}

.rdropdown {
  float: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.rdropcontent {
  display: none;
  position: absolute;
  background-color: rgb(180, 180, 180);
  z-index: 3;
  margin-left: 4px;
}

.rdropcontent a {
  font-size: calc(12px + .7vw);
  color: black;
  padding: .5vw 1vw .8vw;
  display: block;
  text-decoration: none;
}

#cubeDrop {right: 0;}

.rdropbtn {
  border: none;
  font-size: calc(12px + .7vw);
  padding: 5px 12px 5px 12px;
  background-color: rgb(215, 215, 215);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: .3vmax;
  margin-bottom: .3vmax;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  z-index: 1;
}

.rdropbtn:hover {
  cursor: pointer;
}

.rdropcontent a:hover {
  background-color: rgb(150, 150, 150);
}

#timetable {
  display: block;
  font-size: calc(11px + .7vw);
  text-align: left;
  color: black;
  padding: 5px 21px 4px 22px;
  text-decoration: none;
  position: absolute;
  left: -20px;
  top: -2px;
  overflow: hidden;
  text-align: center;
  transition: transform .8s;
}

.times {
  padding: 5px auto;
  min-width: 6vw;
  font-family: 'Times New Roman', Times, serif;
}

.avgofive {
  min-width: 6vw;
  padding: 5px auto;
  font-family: 'Times New Roman', Times, serif;
}

.avgotwelve {
  min-width: 6vw;
  padding: 5px auto;
  font-family: 'Times New Roman', Times, serif;
}

.number {
  min-width: 2vw;
  font-family: 'Times New Roman', Times, serif;
}

#ttsize {
  width: 25vw;
}

#blank {
  width: 2.1vw;
  background-color: rgb(215, 215, 215);
}

#timetable tbody {
  overflow-y: auto;
  display: block;
  max-height: 86vh;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

#timetable tbody::-webkit-scrollbar { width: 0 }

.idAll:nth-child(odd) {background-color: #f2f2f2;}

.idAll:hover {
  cursor: pointer;
  background-color: #AAAAAA;
}

.header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(215, 215, 215);
  padding: 5px 3px;
  text-align: center;
  width: 5.8vw;
  font-size: calc(9px + .8vw);
}

#inoutcell {
  padding: 0;
}

#inicon {
  display: block;
}

#inicon:hover {
  cursor: pointer;
}

#outicon {
  position: absolute;
  left: 3px;
  top: 4px;
}

#outicon:hover {
  cursor: pointer;
}

#sessions {
  position: absolute;
  display: inline-block;
  left: .6vh;
  transition: transform .8s;
  bottom: .6vh;
  margin: 0;
  padding: 0;
}

.sesedit {
  display: inline-block;
  font-size: calc(8px + .7vw);
  background-color: rgb(215, 215, 215);
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  padding-right: 12px;
  padding-left: 12px;
  text-align: center;
  margin: 0;
}

.sesedit:hover {
  cursor: pointer;
}

.dropup {
  display: inline-block;
  position: relative;
  z-index: 3;
}

.dropupcontent {
  display: none;
  background-color: rgb(180, 180, 180);
  position: relative;
  bottom: 4px;
}

#sesdrop p {
  font-size: calc(7px + .7vw);
  color: black;
  padding: .5vw 1vw .8vw;
  display: block;
  text-decoration: none;
  margin: 0;
}

#sesdrop p:hover {
  cursor: pointer;
  background-color: rgb(150, 150, 150);
}


#sespopup button{
  display: inline-block;
  margin-bottom: 4px;
}

#sescrip {
  vertical-align: top;
  margin: 4px;
  width: 21vw;
  width: 20vw;
  height: 7vh;
  resize: none;
}

#sesname {
  vertical-align: top;
  margin: 4px;
  width: 20.1vw;
}

#sespopup li {
  text-align: right;
}

#sescontcenter {
  vertical-align: bottom;
  width: 34vw;
  margin: auto;
}

#sescreate {
  margin-left: 2vw;
  padding-right: 7px;
  padding-left: 7px;
}

#sescancel {
  margin-right: 2vw;
  background-color: transparent;
}

#changesesname {
  font-size: calc(14px + .7vw);
  border-radius: 5px;
  background-color: transparent;
  border: 1px dotted black;
  text-align: center;
}

#sesoptpopup {
  justify-content: center;
  text-align: center;
}

#optbuttons {
  justify-content: center;
  width: 100%;
}

.deletebtn {
  background-color: #FF000060;
}

.clearbtn {
  background-color: #FF990060;
}

.exportbtn {
  background-color: rgba(0, 100, 255, 0.376);
}

.csv {
  font-size: calc(8px + .7vw);
}

#sesoptbuttons table{
  float: right;
}

#sesoptpopup button{
  display: inline-block;
  margin: 4px auto;
  width: 17vw;
}

#sesoptpopup label {
  margin-left: 4px;
}

#seesescrip {
  vertical-align: top;
  margin: 4px;
  width: 96%;
  resize: none;
  height: 10vh;
}

#optbuttons {
  display: block;
  margin: 0 4px ;
}

#optbuttons tr td {
  margin: 0;
  row-gap: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-spacing: 0;
}

#centercube {
  justify-content: center;
  text-align: center;
  width: 7vw;
  margin: 0 auto;
  clear: both;
  display: none;
}

button {
  background-color: rgb(215, 215, 215);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(12px + .7vw);
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

#clearbtn {
  position: absolute;
  bottom: 2%;
  right: 3%;
  font-size: calc(17px + .7vw);
  background-color: rgb(215, 215, 215);
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  padding-right: 12px;
  padding-left: 12px;
  text-align: center;
}

#clearbtn:hover {
  cursor: pointer;
}

#settings {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 70vw;
  height: 20vh;
  transition: width .8s;
}

#shadow {
  background-color: rgba(255, 255, 255, .8);
  z-index: 5;
}

#touch {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

#centerpop {
  position: relative;
  text-align: center;
  z-index: 6;
}

.popup {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  background-color: rgb(180, 180, 180);
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  font-size: calc(12px + .7vw);
  box-shadow: 5px 5px 5px gray;
  z-index: 7;
}

.coverall {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}


#timepopup a {
  font-size: calc(12px + .7vw);
  color: black;
  padding: .5vw 1vw .8vw;
  text-decoration: none;
  margin-bottom: .8vw;
}

#timepopup h3 {
  margin: 9px;
  margin-top: 12px;
}

#timepopup button {
  background-color: rgb(160, 160, 160);
  display: block;
  margin-top: 3vh;
}

#morepopup {
  margin-top: 9px;
  font-size: calc(9px + .7vw);
}

#alwsmore {
  display: block;
}

#comment {
  width: 37vw;
  height: 12vh;
  resize: none;
  vertical-align: top;
  margin-bottom: 4px;
}

#seethings td {
  vertical-align: top;
  text-align: left;
}

#cancelbtn {
  padding: 5px;
  margin: 4px auto;
  display: block;
}

#inmore {
  font-size: calc(6px + .8vw);
  position: relative;
}

#inmore:hover {
  cursor: pointer;
}

#iconsize {
  width: calc(27px + 1vw);
  height: calc(27px + 1vw);
  float: right;
}

#lighticon:hover {
  cursor: pointer;
}

#lighticon {
  float: left;
  border-radius: 50%;
  position: relative;
  bottom: .5vh;
}

.topstats {
  padding-right: 2vw;
  position: relative;
  bottom: 3vh;
  font-size: calc(12px + .7vw);
  display: inline-block;
}

#bestworst {
  float: right;
}

#clearall {
  position: absolute;
  bottom: .6vh;
  right: .6vh;
  margin: 0;
}

@media screen and (min-width: 600px) {
  #morepopup {width: 40vw;}
}

@media screen and (max-width: 1100px) {
  #scrambletxt {top: 15vh; font-size: calc(6px + 1.6vmax); width: 50vw;}
}

@media screen and (max-width: 1000px) { 
  #sescontcenter{width: 30vw;}
  #cancelbtn{right: 50vw;}
  #sesoptpopup button {width: 25vw;}
  #timetable tbody {max-height: 83vh;}
  #time {top: 49vh;}
  #insptime {top: 49vh;}
}

@media screen and (max-width: 750px) {
  #settings {width: 50vw;}
  #time {top: 57vh;}
  #insptime {top: 57vh;}
}

@media screen and (max-width: 650px) { /*if viewport width is less than 650*/
  #insptime {top: 57vh;}
  #scrambletxt {top: 12vh; width: 60vw;}
  #settings{width: 60vw;}
  #settingslist{padding-left: 2vw;}
  #sesoptpopup button {width: 29vw;}
  #timetable tbody {max-height: 84vh;}
}

@media screen and (max-width: 600px) { 
  #comment {width: 90vw;} 
  #time {margin-left: 15vw;}
}

@media screen and (max-width: 545px) {
  #time {top: 61vh;}
  #insptime {top: 61vh;}
}

@media screen and (max-width: 420px) {
  #sesname {width: 48vw;}
  #sescrip {width: 48vw;}
  #seesescrip {width: 58vw;}
  #scrambletxt {top: 17vh; left: 40vw; width: 57vw; max-height: 37vh; margin-right: 3px; overflow: scroll; -webkit-overflow-scrolling: touch;}
  #settings {height: 20vh;}
  /* #time {position: fixed; top: initial; bottom: 190px; margin: 0;} */
  #time {position: relative; margin: 0; top: 50vh;}
  /* #insptime{position: fixed; top: initial; bottom: 10px; margin-left: 20vw} */
  #timetable tbody {max-height: 50vh;}
  /* #centerac {height: 0; top: 0vh;} */
  body {height: 80vh;}
}

.initial {
  display: initial;
}

.inlineBlock {
  display: inline-block !IMPORTANT;
}

.block {
  display: block !IMPORTANT;
}

.none {
  display: none;
}

.oneeighty {
  background-color: rgb(180, 180, 180);
}

.oneforty {
  background-color: rgb(140, 140, 140);
}

.twotwenty {
  background-color: rgb(220, 220, 220)
}

.backblack {
  background-color: black;
}

.red {
  color: red;
}

.cyan {
  color: cyan;
}

.green {
  color: rgb(0, 255, 0);
}

.magenta {
  color: rgb(255, 0, 255);
}

.orange {
  color: orange;
}

.blue {
  color: rgb(0, 90, 255);
}

.darkboxshadow {
  box-shadow: 5px 5px 10px #E6E6E6;
}

.transXsixty {
  transform: translateX(-60vw);
}

.transXhundred {
  transform: translateX(-100vw);
}

.ninetyWidth {
  width: 90vw;
}

.fiftyWidth {
  width: 50vw;
}

.fiftySevenWidth {
  width: 57vw;
}

.hundredWidth {
  width: 100vw;
}

.fiveLeft {
  left: 5vw;
}

.zfour {
  z-index: 4;
}
